<nav class="navbar navbar-expand-md navbar-light primary">
  <div class="container">
      <a class="navbar-brand" href="#">
          <img src="/mygym/images/conocimientonewlogo.png" alt="Logo">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav m-auto"> <!-- Changed from m-auto to mr-auto -->
              <li class="nav-item">
                  <a href="index.html" class="nav-link">Home</a>
              </li>
              <li class="nav-item">
                  <a href="about.html" class="nav-link">About</a>
              </li>
              <li class="nav-item dropdown">
                  <a href="#" class="nav-link dropdown-toggle" id="servicesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Services <i class="bx bx-chevron-down"></i>
                  </a>
                  <div class="dropdown-menu" style="background-color: #6A5ACD;" aria-labelledby="servicesDropdown">
                      <a href="webdevelopement.html" class="dropdown-item">Website Development</a>
                      <a href="appdevelopement.html" class="dropdown-item">Mobile App Development</a>
                      <a href="digitalmarketing.html" class="dropdown-item">Digital Marketing</a>
                      <a href="ecommerce.html" class="dropdown-item">ECommerce Development</a>
                      <a href="design&branding.html" class="dropdown-item">Design & Branding</a>
                      <a href="aiintegrated.html" class="dropdown-item">AI Integrated Website and Mobile Development</a>
                  </div>
              </li>
              <li class="nav-item">
                  <a href="automation.html" class="nav-link">Automation Services</a>
              </li>
              <li class="nav-item">
                  <a href="portfolio.html" class="nav-link">Portfolio</a>
              </li>
              <li class="nav-item">
                  <a href="contact.html" class="nav-link">Contact Us</a>
              </li>
          </ul>
          <div class="others-option">
              <a class="default-btn" style="text-decoration: none;" href="contact.html">
                  Sign Up <i class="bx bx-log-in-circle"></i>
              </a>
          </div>
      </div>
  </div>
</nav>