<footer class="footer" id="contact" style="background-color: #062d66;">
    <div class="section__container footer__container">
      <div class="footer__col">
        <div class="footer__logo">
          <a href="#"><img src="/mygym/images/conocimientonewlogo.png" alt="logo"  style="height: 50px; width: 200px;"/></a>
        </div>
        <p  style="color: aliceblue;">
          Welcome to myGYM, where we believe that every journey to
          fitness is unique and empowering.
        </p>
        <ul class="footer__links" >
          <li>
            <a style="text-decoration: none;" href="#">
              <span> <i style="color:white;" class="ri-map-pin-fill"></i></span>
              123 Main Street<br />Sunrise Valley, Evergreen Heights
            </a>
          </li>
          <li>
            <a style="text-decoration: none;" href="#">
              <span><i style="color:white;" class="ri-phone-fill"></i></span>
              +91 9876543210
            </a>
          </li>
          <li>
            <a style="text-decoration: none;" href="#">
              <span><i style="color:white;" class="ri-mail-fill"></i></span>
              info@fitphysique.com
            </a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h4>GALLERY</h4>
        <div class="gallery__grid">
          <img src="/mygym/images/gallery-1.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-2.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-3.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-4.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-5.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-6.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-7.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-8.jpg" alt="gallery" />
          <img src="/mygym/images/gallery-9.jpg" alt="gallery" />
        </div>
      </div>
      <div class="footer__col">
        <h4>NEWSLETTER</h4>
        <p style="color: white;">
          Don't miss out on the latest news and offers - sign up today and
          join our thriving fitness community!
        </p>
        <form action="/">
          <input type="text" placeholder="Enter Email" />
          <button class="btn " style="background-color:#084199">SEND</button>
        </form>
        <div class="footer__socials">
          <a href="#"><i class="ri-facebook-fill"></i></a>
          <a href="#"><i class="ri-twitter-fill"></i></a>
          <a href="#"><i class="ri-youtube-fill"></i></a>
        </div>
      </div>
    </div>
    <div  class="footer__bar" style="color:#fff; background-color: #04183c;" >
      Copyright © 2024 conocimientoinfotech. All rights reserved.
    </div>
  </footer>